extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Robert Stevahn

        p.lead.text-light
          | Web/Mobile Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I'm a seasoned developer with a wide variety of experience, including 18 years with Hewlett-Packard's
            | LaserJet business. This work included time as HP's representative to the W3C HTML
            | and CSS Working Groups. I'm now concentrating on Full Stack JavaScript Web and App development, 
            | available for both freelance and contract work.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li JSON
          li AJAX/Fetch 
          li Node.js
          li Express
          li Pug
        h7 Other
        ul
          li C
          li C++
          li Assembler
          li real-time firmware development
          li device drivers and operating systems
        h6 Contact Info

        ul
          li +1 208-230-5940 (text preferred)
          li robert@rstevahn.com

        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/rstevahn/') GitHub
        a.button.expanded(href='https://twitter.com/rstevahn/') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  