extends layout

block content
  article.grid-container.portfolio-intro
    div
      h1= `Error: ${error.message}`
      h2= `Status: ${error.status}`
      p.lead.text-light= error.stack
      a.button(href='/') Home